<% if(short_name == "Short Name"){ %>
<th><%= short_name %></th>
<% if(showLimits){ %>
<th>Limits</th>
<% } %>
<th>Delete Gene</th>
<% } else { %>
<td><%= short_name %></td>
<% if(showLimits){ %>
	<td>
		<div class="slider-limit"></div>
		<table class="table">
			<tr>
				<th>Upper</th>
				<td><span class="upperLimit"><%= uLimit%></span></td>
			</tr>
			<tr>
				<th>Lower</th>
				<td><span class="lowerLimit"><%= lLimit%></span></td>
			</tr>
		</table>

	</td>
<% } %>
<td class="delete"><button class="btn btn-link">Delete</button></td>
<% } %>