<div id="preview-overlay">
<button type="button" id="preview-close" class="pull-right" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>
<div class="pick-instance-wrapper panel panel-default">
<div class="panel-heading">
Plot Graph<span><button type="button" class="close pick-instance-close" data-dismiss="alert" aria-hidden="true">&times;</button></span>
</div>
<div class="panel-content">
<span class="row col-md-2">
<div class="form-group pull-left choose-attribute-group">
	<h4>Y Axis : <span class="attribute-label"></span></h4>
 		<label class="label label-default">Choose Genes</label>
  		<input class="pick_gene_instances" class="query_target" placeholder="Enter Gene">
  		<label class="label label-default">Choose Non Genes</label>
  		<input class="pick_cf_instances" class="query_target" placeholder="Enter Non Gene Feature">
  		 <input type="hidden" class="pick-attribute-uniqueid" id="pick-attribute-uniqueid-one">
  	</div>
  	<div class="preview-results">
	<h3>Preview</h3>
	<table class="table table-condensed">
		<tr>
			<td>Accuracy</td>
			<td><span id="preview-acc"></span></td>
		</tr>
	</table>
<div id="preview-cfmatrix"></div>
</div>
  	  	</span>
<span id="instance-data-chart-wrapper" class="row col-md-10">
<button class="btn btn-warning chart-functions" id="clear-selection">Clear Selection</button>
<span class="row">
<svg id="instance-data-chart"></svg>
</span>
<span class="row">
<div id="pick-instance-draw-controls" class="chart-functions">
	<button class="btn btn-primary" id="preview-selection">Preview</button>
	<button class="btn btn-primary" id="build-selection">Build Split</button>
</div>
</span>
</span>
<span class="row col-md-10">
	<div class="form-group pull-right choose-attribute-group">
		<h4>X Axis : <span class="attribute-label"></span></h4>
  		<label class="label label-default">Choose Genes</label>
  		<input class="pick_gene_instances" class="query_target" placeholder="Enter Gene">
 		<label class="label label-default">Choose Non Genes</label>
  		<input class="pick_cf_instances" class="query_target" placeholder="Enter Non Gene Feature">
  		  	  	<input type="hidden" class="pick-attribute-uniqueid" id="pick-attribute-uniqueid-two">
  		  	  	<button class="btn btn-primary" id="get-instances">Plot Graph</button>
  	</div>
</span>
</div>
</div>