<div class="form-group">
 		<span class="label label-default">Add Genes</span>
  		<input id="pick_gene_instances" class="query_target" placeholder="Enter Gene">
  	</div>
  	<input type="hidden" class="pick-attribute-uniqueid" id="pick-attribute-uniqueid-gene">
  	<div class="form-group">
 		<span class="label label-default">Add Clinical Features</span>
  		<input id="pick_cf_instances" class="query_target" placeholder="Enter Clinical Feature">
  	</div>
  	<input type="hidden" class="pick-attribute-uniqueid" id="pick-attribute-uniqueid-cf">
<div class="form-group">
    <label for="exampleInputEmail1">Split 1</label>
    <input type="email" class="form-control pick-split" placeholder="Split 1">
</div>
<div class="form-group">
    <label for="exampleInputEmail1">Split 2</label>
    <input type="email" class="form-control pick-split" placeholder="Split 2">
</div>
<button class="btn btn-primary" id="get-instances">Get Instances</button>
