<div class="panel-heading">
Choose Instances<span><button type="button" class="close pick-instance-close" data-dismiss="alert" aria-hidden="true">&times;</button></span>
</div>
<div class="panel-content">
<span class="row">
<div class="form-group pull-left">
 		<span class="label label-default">Add Genes</span>
  		<input id="pick_gene_instances" class="query_target" placeholder="Enter Gene">
  	</div>
  	<div class="form-group pull-right">
 		<span class="label label-default">Add Clinical Features</span>
  		<input id="pick_cf_instances" class="query_target" placeholder="Enter Clinical Feature">
  	</div>
  	<input type="hidden" class="pick-attribute-uniqueid" id="pick-attribute-uniqueid-cf">
  	  	<input type="hidden" class="pick-attribute-uniqueid" id="pick-attribute-uniqueid-gene">
  	  	</span>
<button class="btn btn-primary" id="get-instances">Get Instances</button>
<svg id="instance-data-chart"></svg>
</div>