<button class="zoomin"><i class="glyphicon glyphicon-zoom-in"></i></button>
				<button class="zoomout"><i class="glyphicon glyphicon-zoom-out"></i></button>
				<div class="checkbox">
        			<label>
          				<input id="toggle-fittoscreen" type="checkbox" value="true" <% if(fitToScreen){ print("checked");} %>> Fit To Screen
        			</label>
      			</div>
      			<% if(Cure.PlayerNodeCollection.length>0){
      				if(badge_desc==null){
      					if(expandDesc){
      						print('<h4>Dataset Description</h4><div class="description-mini">'+Cure.dataset.get('description')+"<span class='reduce-desc btn-link'>Show Less</span></div>");	
      					} else {
      						print('<h4>Dataset Description</h4><div class="description-mini">'+Cure.dataset.get('description').substring(0,200)+"... <span class='expand-desc btn-link'>Show More</span></div>");
      					}
      				} else {
      					print('<div class="description-mini"><b>'+badge_desc+"</b></div>");
      				}
      			} else {
      				print("");
      			}
      			 %>
      			 